name: Deploy Application

on:
  push:
    branches:
      - main
    paths:
      - 'backend_cloud/api/**'
      - 'frontend_web/**'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      # TODO: Add application deployment steps
