name: Deploy Infrastructure

on:
  push:
    branches:
      - main
    paths:
      - 'backend_cloud/iac/**'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      # TODO: Add infrastructure deployment steps
